# ignore data and data folders
data/
*.tsv
*.csv
*.json
*.parquet

# ignore logs and caches
*.log
*.out
*.err
*.cache/
__pycache__/
*.pyc
*.pyo

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
sample_data_for_paper.xlsx
# ignore vitual environment
# ignore virtual environment
.venv/
venv/
.env
# ignore literature folder
literature/
data/
# apple hidden file
.DS_Store